# --- Core Web & Tasks ---
django>=5.2
django-ninja
celery
django-celery-beat
redis
psycopg[binary,pool]
watchdog
requests
markdown
sphinx
sphinx-rtd-theme
pytest
pytest-django
# --- AI & LLM ---
transformers>=4.48.0
sentence-transformers
outlines>=1.3.0
torch
accelerate
bitsandbytes
pandas

# --- RAG & Vector Store ---
langchain

langchain-core
langchain-community
langchain-huggingface
langchain-postgres
beautifulsoup4
pypdf
docx2txt
unstructured

# document creation libs for testing
reportlab
python-docx
python-pptx


# --- NLP & Custom Vendored Resources ---
spacy
blis==1.3.3
scispacy>=0.5.4
pyspellchecker

./resources/wheels/en_core_web_sm-3.8.0-py3-none-any.whl
./resources/wheels/editdistance-0.6.2-cp313-cp313-linux_x86_64.whl